<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playground.java.mybatis.mapper.BrandMapper">
  <resultMap id="brandResultMap" type="com.playground.java.mybatis.pojo.Brand">
    <result column="brand_name" property="brandName" />
    <result column="company_name" property="companyName" />
  </resultMap>
  <select id="selectAll" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT * FROM tb_brand;
  </select>
  <select id="selectById" parameterType="int" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT * FROM tb_brand WHERE id = #{id}
  </select>
  <select id="selectByCondition" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT *
    FROM tb_brand
    WHERE status = #{status}
    AND company_name LIKE #{companyName}
    AND brand_name LIKE #{brandName};
  </select>
  <select id="selectByConditionObject" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT *
    FROM tb_brand
    WHERE status = #{status}
    AND company_name LIKE #{companyName}
    AND brand_name LIKE #{brandName};
  </select>
  <select id="selectByConditionMap" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT *
    FROM tb_brand
    WHERE status = #{status}
    AND company_name LIKE #{companyName}
    AND brand_name LIKE #{brandName};
  </select>
  <select id="selectByDynamicCondition" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT *
    FROM tb_brand
    <where>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="companyName != null and companyName != ''">
        AND company_name LIKE #{companyName}
      </if>
      <if test="brandName != null and brandName != ''">
        AND brand_name LIKE #{brandName}
      </if>
    </where>
  </select>
  <select id="selectByConditionSingle" resultMap="brandResultMap" resultType="com.playground.java.mybatis.pojo.Brand">
    SELECT *
    FROM tb_brand
    WHERE
      <choose>
        <when test="status != null">
          status = #{status}
        </when>
        <when test="companyName != null and companyName != ''">
          company_name LIKE #{companyName}
        </when>
        <when test="brandName != null and brandName != ''">
          brand_name LIKE #{brandName}
        </when>
        <otherwise>
          1 = 1
        </otherwise>
      </choose>
  </select>

  <insert id="add">
    INSERT INTO tb_brand(brand_name, company_name, ordered, description, status)
    VALUES (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status});
  </insert>
  <insert id="addAndGetPrimaryKey" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO tb_brand(brand_name, company_name, ordered, description, status)
    VALUES (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status});
  </insert>

  <update id="update">
    UPDATE tb_brand
    SET brand_name = #{brandName},
    company_name = #{companyName},
    ordered = #{ordered},
    description = #{description},
    status = #{status}
    WHERE id = #{id}
  </update>
  <update id="updateDynamicSql">
    UPDATE tb_brand
    <set>
      <if test="brandName != null and brandName != ''">
        brand_name = #{brandName}
      </if>
      <if test="companyName != null and companyName != ''">
        company_name = #{companyName}
      </if>
      <if test="ordered != null">
        ordered = #{ordered}
      </if>
      <if test="description != null and description != ''">
        description = #{description}
      </if>
      <if test="status != null">
        status = #{status}
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <delete id="deleteById">
    DELETE FROM tb_brand WHERE id = #{id}
  </delete>
  <delete id="deleteByIdArray">
    DELETE FROM tb_brand
    WHERE id in
    <foreach collection="array" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>
</mapper>